<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla JS CRUD</title>
    <script defer src="/app.js"></script>
</head>

<body>
    <h1>Vanilla JS CRUD App</h1>
    <div id="user-list"></div>
    <form id="user-form">
        <input type="text" id="name" placeholder="Name">
        <input type="email" id="email" placeholder="Email">
        <!-- <input type="password" id="password" placeholder="Password">
        <input type="text" id="cpf" placeholder="CPF" pattern="\d{11}">
        <input type="tel" id="phone" placeholder="Phone" pattern="\(\d{2}\) \d{4,5}-\d{4}">
        <input type="date" id="birthdate" placeholder="Birthdate"> -->
        <button type="submit">Create User</button>
    </form>
</body>

</html>